﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="Info.aspx.vb" Inherits="info" title="Solar Panel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>Het principe van de solar tracker is dat een zonnepaneel de zon (of sterkste lichtbron) volgt. De detectie van het licht gebeurt d.m.v. LED’s. LED’s wekken een spanning op wanneer deze belicht worden. De grootte van die spanning varieert van LED tot LED. Uit metingen blijkt dat helder blauwe LED’s de meeste spanning genereren (tot 2.1V). De bedoeling is dat twee LED’s onder een hoek van 90° t.o.v. elkaar en onder een hoek van 45° t.o.v. het zonnepaneel worden geplaatst. De spanningen van deze twee LED’s worden gemeten en vergeleken door de microcontroller. Als het verschil van de spanningen 0V is staat de lichtbron exact in het midden van de 2 LED’s (dus loodrecht op het zonnepaneel). Dit wordt gedaan voor de horizontale en de verticale beweging, dit zijn in totaal 4 LED’s. Om geen vier poorten op de microcontroller te moeten gebruiken worden de LED’s voor de horizontale en de LED’s voor de verticale beweging anti-parallel geplaatst. Hierdoor heffen de spanningen elkaar op als de lichtbron in het midden van de LED’s staat. Nu kan er dus een spanning ontstaan van -2.1V tot 2.1V. Deze wordt dan gemeten met de microcontroller. Als de spanning niet gelijk is aan 0 stuurt de microcontroller een stappenmotor aan voor de horizontale beweging en een servomotor voor de verticale beweging. Deze twee waarden en de spanning, stroom en het vermogen van het zonnepanneel worden weergegeven op een LCD scherm en later eventueel ook op een computer. De printplaat met de microcontroller en de nodige electronica wordt getekend in Eagle.</p>
</asp:Content>

